[Unit]
Description=Deamon to request, parse and disseminate data
After=multi-user.target

[Service]
Type=simple
ExecStart=<path_to_python_interpreter path_to_python_script start
Restart=always

[Install]
WantedBy=multi-user.target